/sources/vcgerente-query/*.classpath
/sources/vcgerente-query/*.project
/sources/vcgerente-query/.settings/*.prefs
/sources/vcgerente-query/target
/sources/vcgerente-query/.settings
/sources/vcgerente-query/src/main/java/rebel.xml
/sources/vcgerente-query/*.log
